extends layout

block content
  h1= title
  p Hello there! I am Sahil Grewal, a passionate Software Developer who loves Algorithms . I enjoy solving problems on leetcode and am always eager to learn new things. Feel free to reach out me.





    